.backpattern{
    position: absolute;
    margin-left: 45%;
}

.testimonials1{
    width: 520px;
    position: absolute;
    margin-left: 50%;
    margin-top: 6%;
}

p{
    font-size: 32px;
    font-family:'Inter', sans-serif;
    position: absolute;
    margin-left: 11%;
    margin-top: 13%;
    color: hsl(240, 38%, 20%);
}

.title{
    font-size: 22px;
    color: black;
}

.profession{
    font-size: 22px;
    color:hsl(240, 18%, 77%) ;
}

.quotes{
    position: absolute;
    margin-left: 20%;
    margin-top: 8%;
}

.prevbutton{
    position: absolute;
    width: 5%;
    height: 7%;
    border-radius: 40% 0 0 40%;
    border: none;
    margin-left: 56%;
    margin-top: 38%;
    background-color: hsl(240, 18%, 77%);
    z-index: 2;
    
}

button:hover{
    background-color: azure;
    cursor: pointer;
}

.nextbutton{
    position: absolute;
    width: 5%;
    height: 7%;
    border-radius: 0 40% 40% 0;
    border: none;
    margin-left: 60%;
    margin-top: 38%;
    background-color: hsl(240, 18%, 77%);
    z-index: 2;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.attribution{
   position:absolute;
   bottom:0;
   width:100%;
   height:30px; 
   text-align: center;
}

@media(max-width :576px){
    .backpattern{
        width: 230px;
        height: 300px;
        margin-left: 100px;
        /* position: relative; */
    }
    .testimonials1{
        width: 250px;
        margin-bottom: 100px;
        margin-left: 58px;
        position: relative;
    }
    .depoiment{
       margin-top: 10px;
       width: 100%;
       text-align: center;
       position: relative;
       margin-left: 10px; 
       font-size: 16px; 
    }
    .title{
        font-size: 16px;
    }
    .profession{
        font-size: 16px;
    }
    .quotes{
        margin-top: 350px;
        margin-left: 35%;
    }
    .attribution{
        margin-top: 50px;
        position: relative;
        font-size: 10px;
        margin-left: 5px;
    }
    .prevbutton{
        margin-top: 260px;
        width: 40px;
        height: 35px;
        margin-left: 130px;
    }
    .nextbutton{
        margin-top: 260px;
        width: 40px;
        height: 35px;
        margin-left: 170px;
    }
}